<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h1>
      <% if @family_member %>
        Medications for <%= @family_member.first_name %> <%= @family_member.last_name %>
      <% else %>
        My medications
      <% end %>
    </h1>
    <%= link_to "Add a medication", new_medication_path(family_member_id: @family_member&.id), class: "btn btn-primary" %>
  </div>

  <% if @medications.empty? %>
    <p>No medications yet.</p>
  <% else %>
    <div class="table-responsive">
      <table class="table table-striped align-middle">
        <thead>
          <tr>
            <th>Name</th>
            <th>Dosage</th>
            <th>Frequency</th>
            <th>Start date</th>
            <th>End date</th>
            <th>Reminder time</th>
            <th>Taken</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @medications.each do |medication| %>
            <tr>
              <td><%= medication.name %></td>
              <td><%= medication.dosage %></td>
              <td><%= medication.frequency %></td>
              <td><%= medication.start_date %></td>
              <td><%= medication.end_date %></td>
              <td><%= medication.reminder_time %></td>
              <td>
                <%= button_to "Mark as taken", medication_medication_logs_path(medication), method: :post, class: "btn btn-sm btn-outline-success" %>
              </td>
              <td class="text-end">
                <%= link_to "Edit", edit_medication_path(medication), class: "btn btn-sm btn-outline-secondary" %>
                <%= button_to "Delete", medication_path(medication), method: :delete, class: "btn btn-sm btn-outline-danger", form: { data: { turbo_confirm: "Are you sure you want to delete this medication?" } } %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</div>
